<%- include("partials/header.ejs") %>

    <section class="container search-page mt-4">
        <div class="search-in-search">
            <input type="text" id="search-input-section" class="form-control" placeholder="Search for products...">
            <div id="search-suggestions-section" class="suggestions-container"></div>
        </div>
        <!-- <div id="search-results" class="mt-3"></div> -->
        <h3 class="mt-4">Search Results</h3>
        <div id="search-results-page" class="products justify-content-start row"></div>
    </section>



 <%- include("partials/footer.ejs") %>

    